.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding: 3em
  }

.imageContainer{
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}